{% extends 'base.html.twig' %}

{% block title %}{{"user.login"|trans}}{% endblock %}

{% block body %}
<div class="container">
    <form class="form-group" method="post">
        <div class="card">
            <div class="card-body">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">

                        You are logged in as {{ app.user.username }}, 
                        <a href="{{ path('app_logout') }}">
                            {{"user.logout"|trans}}
                        </a>

                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">{{"user.sign_in"|trans}}</h1>
                <label for="inputEmail">{{"user.email"|trans}}</label>

                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required placeholder="{{"user.email_example"|trans}}">
                <label class="mt-3" for="inputPassword">{{"user.password"|trans}}</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="{{"user.password"|trans}}" required>


                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
            </div>
            <div class="card-footer text-right">
                <button class="btn btn-lg btn-primary mt-3" type="submit">
                    {{"user.connexion"|trans}}
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}