@import "common.scss";

* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  margin-top: 50px;
}
.detail h1 {
  color: black;
  background-color: white;
  font-family: "Anton";
  padding: 20px;
  text-align: center;
  max-width: 450px;
}

#date {
  font-family: "Roboto";
  background-color: orangered;
  color: black;
  padding: 30px;
  max-width: 450px;
  text-align: center;
}

.content {
  color: white;
  font-family: "Roboto";
}

.map {
  margin: 50px;
  text-align: center;
}

.btn {
  justify-content: space-between;
  background-color: orange;
}
