$primary:#050608;
@import "common.scss";
.home {
 /* On met en place le fond d'écran */
 min-height: 100%;
 min-width: 1024px;
 /* On indique un redimensionnement proportionnel */
 width: 100%;
 height: auto;
 /* L'image est positionnée en haut à gauche */
 position: fixed;
 top: 0;
 left: 0;
}
@media screen and (max-width: 1024px) { /* Le traitement est ici spécifique à l'image */
 img.fondecran {
 left: 50%;
 margin-left: -512px; /* 50% */
 }
}

